<div class="container">
  <div class="banner">
    <div class="logo">
      ZEDapp
    </div>
    <div class="profile">
      <a href="">
        <div class="profile-link">
          <img src="img/person-wearing-red-hoodie-1690081.jpg">
          Tomasz Siwiec
        </div>
      </a>
    </div>
  </div>
  <div class="mainMenu">
    <div class="menu">
      <ul>
        <li><a href="">Option 1</a></li>
        <li><a href="">Option 2</a></li>
        <li><a href="">Option 3</a></li>
        <li><a href="">Option 4</a></li>
        <li><a href="">Option 5</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="mainElement">Post 1</div>
      <div class="mainElement">Post 2</div>
      <div class="mainElement">Post 3</div>
      <div class="mainElement">Post 4</div>
    </div>
  </div>
  <div class="footer">
    &copy;2020 Tomasz Siwiec
  </div>
</div>
