.allLayout {
    background-color: #EFEFF6;
    border-spacing: 0px;
    /*position: relative;*/
}

.menuLayout {
    background-color: #373B5F;
    width: 150px;
}

.mainLayout {
    background-color: #EFEFF6;
    padding-top: 25px;
}

.mainMenuLayout {
    background-color: #EFEFF6;
}

.headerLayout {
    background-color: white;
    height: 50px;
    width: 100%;
    position: center;
    align-items: center;
    /*left: auto;*/
}

.headerIconButton {
    /*float: right;*/
    background-color: transparent;
    /*position: center;*/
    /*right: 50px;*/
    position: fixed;
    right: 10px;
    top: -5px;
    border-color: #005fff;
    border-width: thin;
}

button {
    width: 100%;
    font-size: large;
    font-style: inherit;
    white-space: normal;
    word-wrap: break-word;
    height: auto;
    border-spacing: 5px;
    border-bottom-color: white;
    border-bottom-width: 10px;
}

.v-button-caption {
    white-space: normal;
}

.buttonContent {
    position: center;
    align-items: center;
    right: 50px;
    left: auto;
}

.getButtonsAdd {
    /*width: 200px;*/
    /*height: 35px;*/
    /*position: absolute;*/
    /*right: 45px;*/
    /*bottom: 45px;*/
    /*top: 500px;*/
    /*transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    background-color: #005fff;
    color: white;
    cursor: grab;
    /*font-size: 25px;*/
    /*padding: 0px 0px;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*border-radius: 50%;*/
}

.insideHeaderLayout {
    /*right: 50px;*/
    position: center;
    align-items: center;
    padding: 0px;
}



